.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50%;
}

.modalVideo {
  background-color: #fff;
  border-radius: 5px;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 30%;
}

.cursorClicavel {
  cursor: pointer;
  color: blue;

  width: 100%;
}

.fundoPopUp{
  background-color: #e0e0e0;
  border-radius: 5px;
  top: 12.5%;
  min-width: 35% !important;

  
}

.fundoPopUp2{
  background-color: #e0e0e0;
  border-radius: 5px;
  top: 12.5%;
  min-width: 1114px !important;

  
}



.fundoModalVideo{
  background-color: #e0e0e0;
  border-radius: 5px;
  top: 12.5%;
  
}

.corPopUp{
  background-color: #d0c7dc99;
}

.imgCaixaVideo {
  width: 20%;
  max-width: 20%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: table;
  margin: 0 auto;
}

.fundoVideo {
  background-image: url("../../img/fundoVideo.png");
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
}

.fundoCalculadora {
  width: 340px;
  height: 460px;
}

.fundoVideoModal {
  background-image: url("../../img/fundoVideo.png");
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
}

.fundoModal {
  background-image: url("../../img/fundoVideo.png");
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 460px;
}

.alinharDireitaIcone{
  float: right;
  margin-top: 5px;
}

.sizeModal{
  width: 365px !important;
}


