.tituloCurso {
    margin-left: 2%;
    margin-top: 2%;
    color: #8e8b8b;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.tituloUnidade2 {
    color: #660033;
    text-align: center;
    margin-top: 2%;
    margin-left: 0%;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 28px;
    letter-spacing: 1px;
}

.tituloUnidadeTesteira {
    color: #660033;
    text-align: center;
    margin-top: 2%;
    
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 1px;
}

.alignRightIcon{
    float: right;
    margin-top: -75px;


}

.alignRightIconCreditos{
    float: right;
    margin-top: -80px;


}

.tituloUnidade {
    margin-top: 2%;
    margin-left: 0%;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: left;
    font-weight: bolder;
    line-height: 28px;
    letter-spacing: 1px;
}
.logoCurso {
    float: left;
    width: auto;
    height: 30%;
    margin-left: 0%;
    margin-top: 0.5%;
}

.logoLeft {
    float: left;
    width: auto;
    height: 60px;
    margin-left: 0%;
    margin-top: 5px !important;
}

.logoRight {
    margin-top: 10%;
    margin-right: 0%;
    color: #e0e0e0;
    
}

.fa .fa-bars {
    font-size: 45px;
}

.logo {
    background-image: url("../../img/logo.png");
    background-repeat: no-repeat;
}

.barraHamburguerLogo {
    /*box-shadow: 0px 0px 4px #ccc;*/

    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0 5px;
    top: 0;
    left: 0;
    min-height: 60px;
    z-index: 100;
    background: url("../../img/logo.png"), #00b47c;
    /*background: url('../../img/logo.png'), linear-gradient(to right, #e1c420 0%,#ecc500ad 35%,#fbfbfb 65%);    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94B68F', endColorstr='#d9975d',GradientType=1 );*/
    background-repeat: no-repeat, no-repeat;
}

.logo {
    background: url("../../img/logo.png");
}

.img35 {
    width: 35%;
}


.icon {
  width: 60px;
  height: 30px;  
  float: left;
  background-image: url("../../img/menuObesidade.png");
  background-image: linear-gradient(transparent, transparent), url("../../img/menuObesidade.png");
  background-size: 100% auto;
 
}


.cursorHamburger {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.cursorHamburger:hover {
    text-decoration: none;
}