.#00b47c {
	background-color: #cac659a3;
}

.unidadeMargens {
	margin: 2%;
}

.fundoTabUn1{
	background-color: #c1d7ef;
}

.deslocarQuadro{
	margin-left: 325px !important;
}

.barraUnidade {
	width: 100%;
	height: 60px;
}
.espacamentoLeft23{
	margin-left: -23px;
}

.espacoLeftFundoAzul{
	margin-left: 43px;
}

.espacamentoLeftTabela{
	margin-left: 21px !important;
}

.fundoTabRef{
	background-color: #e0e0e0;
}

.barraUnidade2 {
	width: 100%;
	height: auto;
}

.tab1{
	margin-top: 2px;

}

.numero{
	margin-left: 20px;
	margin-right: -10px;
}

.fundoCinza {
	background-color: #f1f2f2;
}

.info02{
	margin-top: 4px;
}

.w55{
	width: 55% !important;
}

.fundoA{
	background-image: linear-gradient(to right, #c2b7d2a3 50%, #c9e0eb91 58%);
}

.textoEnum{
	font-size: 22px;
}


.fundo01b{
	background-color: #accad078;
}

.seta{

}

.fundoLinhasCinzas {
}

.fundoTransparencia {
	background-image: url("../../img/un1/coracao.png");
	background-repeat: no-repeat;
	background-size: 500px 400px;
	background-position: 100% 100%;
}

.fundoIMC {
	background-color: #f1f2f2;
	/*-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);*/
}

.fundoEngrenagem {
	background-image: url("../../img/uni1/engrenagem.png");
	background-repeat: no-repeat;
	background-size: 50% 70%;
	background-position: 100% 0px;
}

.espacamentoFeira {
	padding-top: 7px;
}

.bordaIMC {
	background: linear-gradient(to right, #c2b7d2 50%, #c9e0eb 65%);
	background-size: 100% 50px;
}

.linhaIMC {
	background-image: linear-gradient(to right, #c2b7d2 50%, #c9e0eb 65%);
}

.fundoIMC2 {
	background-image: url("../../img/uni1/fundoImc.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f1f2f2;
	min-height: 100px;
	height: 100px;
	max-height: 100px;
	background-position-y: 100%;
}

.linhaIMC {
	height: 5px;
	background-image: linear-gradient(to right, #c2b7d2 50%, #c9e0eb 65%);
}

.fundoIMC3 {
	background-image: url("../../img/uni1/faixaIMC.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f1f2f2;
	min-height: 25px;
	margin-bottom: 0%;
	margin-top: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	height: 25px;
	max-height: 25px;
	width: 100%;
	min-width: 100%;
}

.fundoIMCpt1 {
	background-image: url("../../img/uni1/faixaIMC.png");
	background-size: cover;
	background-color: #f1f2f2;
	background-position: center;
}

.fundoIMC4 {
	background-image: url("../../img/uni1/faixaIMC.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f1f2f2;
	min-height: 25px;
	margin-bottom: 0%;
	margin-top: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	background-position-y: 100%;
	height: 25px;
	max-height: 25px;
	min-width: 100%;
}

.marginTopText {
	margin-top: 0.5%;
}

.degradeIMC {
	background-image: linear-gradient(
		to right,
		#c2b7d2 35%,
		#e3d1e0 45%,
		#c9e0eb 65%
	);
}

.heightButton {
	height: 100%;
}

.margin0 {
	margin-top: 0%;
	margin-bottom: 0%;
}

.fundoRodas {
	background-image: url("../../img/uni1/info02.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.barraSubTitulo {
	width: 100%;
	height: 60px;
}

.degradeTitulo {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(
		to right,
		#00b47c 50%,
		#00b47c 51%,
		transparent
	);
}

.degradeTitulo2 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 50%);
}

.degradeTitulo25 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 55%);
}

.degradeTitulo65 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 65%);
}

.degradeTitulo3 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 75%);
}

.degradeTitulo4 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 95%);
}

.degradeTituloTransp {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 55%);
}

.degradeTituloTransp2 {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 1%, transparent 55%);
}

.marginBottom15 {
	margin-bottom: 15px;
}

.underline {
	border-bottom: 1px dotted #00b47c;
	width: 100%;
	display: block;
}

.aumentado {
	font-size: 23px;
}

.degradeSubTitulo {
	background-image: -webkit-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: -o-linear-gradient(left, transparent, #00b47c, transparent);
	background-image: linear-gradient(to right, #00b47c 35%, transparent 60%);
}

.tituloSecao {
	font-family: "robotocondensed", sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	color: #000000;
	margin-top: 0.3%;
	text-transform: uppercase;
}

.centerText {
	top: 50%;
	bottom: 50%;
	text-align: center;
}

#parent {
	width: 100%;
	height: 50px;
}

#child {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#child_1 {
	position: relative;
	float: left;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.slider{
	background-color: #e0e0e069;
}

.sliderUn1{
	background-color: #f1e9d4bf;
}

.tituloSecao2 {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin-left: 3.5%;
	line-height: 1em;
	color: #000000;
	margin-top: 0.3%;
	text-transform: uppercase;
}

.tituloSecaoCustom {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-right: 0%;
	padding-left: 0%;
	line-height: 1em;
	color: #000000;
	margin-top: 0.3%;
	text-transform: uppercase;
}

.tituloSubSecao {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 1em;
	color: #000000;
	margin-top: 1.5%;
}

.tituloSubSecao2 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-left: 3.5%;
	line-height: 1em;
	color: #000000;
	margin-top: 1.5%;
}
.left {
	text-align: left;
}

.imgPlantacao {
	background-image: url("./../../img/plantacao.jpg");
	background-size: cover;
	min-height: 600px;
}

.testeiraInfografico {
	background-image: url("./../../img/testeiraInfografico.png");
	background-size: cover;
}

.testeiraInfografico2 {
	background-image: url("./../../img/testeiraInfografico.png");
	background-size: cover;
	background-position: top;
}

.deslocamento {
	margin-left: 30%;
	margin-top: -10%;
}

.azul {
	background-color: #b5d0e2;
	opacity: 0.9;
	margin-top: 10%;
}

.caixaFundo{
	background-color: #b5d0e2;
	opacity: 0.9;
	margin-top: 50px;
	margin-bottom: 50px;

}

.caixaHorta {
	background-color: #b5d0e2;
	opacity: 0.9;
	margin-top: 15%;
}

.imgRegador {
	padding-top: 3px;
}

.mapa {
	background-image: url("../../img/mapa.jpeg");
	background-size: 800px;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position: 90% 35px;
	opacity: 1;
}

.prato {
	background-image: url("../../img/pratos.png");
	background-repeat: no-repeat;
	background-position-x: left;
	background-size: 540px;
	opacity: 2;
}
.nuvemCanto {
	background-image: url("../../img/nuvem.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 540px;
}
.textoFaixa {
	padding-top: 12px;
}

.fastFood {
	height: 540px !important;
}
/*Rolagem de fundo*/
#rolagemDeFundo {
	padding-top: 200px;
	padding-bottom: 200px;
	height: 394px;
}
#imgRolagemDeFundo1 {
	background-image: url("./../../img/un1/img02.jpeg");
	background-attachment: fixed;
	background-position: 30% 50%;
}
#textRolagemDeFundo {
	background-color: #ffffff;
	color: #000;
	opacity: 1;
	padding: 20px;
	min-height: 160px !important;
	height: auto;
	position: relative;
	top: 115px;
}

.textoBotao {
	font-size: 26px;
	margin-top: 3.5%;
}

.textoIMC {
	font-size: 25px;
}

.deslocarDireita {
	margin-top: 4.5%;
	margin-left: 30%;
}

.deslocarDireita2 {
	margin-left: 20%;
}

.deslocarDireita20 {
	margin-left: 28.5%;
}

.deslocarDireitaIMC {
	margin-left: 400px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px){
	.deslocarDireitaIMC {
		margin-left: 400px;
	}
	.textoIMC {
		font-size: 19px;
	}
	.textoBotao {
		font-size: 19px;
		margin-top: 0%;
	}
}

@media only screen and (max-width: 1500px) {
	.deslocarDireitaIMC {
		margin-left: 420px;
	}
}

@media only screen and (min-width: 1500px) {
	.deslocarDireitaIMC {
		margin-left: 450px;
	}
}

@media only screen and (min-width: 1600px) {
	.deslocarDireitaIMC {
		margin-left: 470px;
	}
}
.line {
	margin-bottom: 0%;
}
.overLine {
	text-decoration: overline;
}
/*Rolagem de fundo*/

.w100 {
	width: 100%;
}

.w95 {
	width: 95%;
}

.w90 {
	width: 90%;
}

.w85 {
	width: 85%;
}

.w80 {
	width: 80%;
}

.w60 {
	width: 60%;
}

.h80 {
	height: 80%;
}

.h60 {
	height: 60%;
}

.h90 {
	height: 90%;
}

.espacamentoTop {
	margin-top: -45px;
}

.espacamentoTopAuxiliar {
	margin-top: -20px;
}

.deslocarTop {
	margin-top: -15px;
}

.faixaFundoCinza {
	background-color: #e0e0e0;
}

.faixaFundoItens {
	background-color: #eddd878c;
	background-image: url("../../img/uni1/nasf.png");
	background-repeat: no-repeat;

	background-position: 65% 80%;
}

.fundoSaudavel {
	background-image: url("../../img/uni1/parte1.png"),
		url("../../img/uni1/parte2.jpg");
	background-repeat: no-repeat;

	background-position: 20% 50%;
}

.fundoSaudavel1 {
	background-image: url("../../img/uni1/exerc1.png");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 70%;
	height: 265px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.fundoSaudavel1 {
		height: 130px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.fundoSaudavel1 {
		height: 180px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.fundoSaudavel1 {
		height: 190px;
	}
}

@media only screen and (max-width: 1600px) {
	.fundoSaudavel1 {
		height: 200px;
	}
}

@media only screen and (min-width: 1600px) {
	.fundoSaudavel1 {
		height: 265px;
	}
}
.fundoCarro {
	background-image: url("../../img/uni1/parte2.jpg");
	background-repeat: no-repeat;

	background-position: 100% 65%;
}

.fundoExercicios {
	background-image: url("../../img/uni1/exercicios.png");
	background-repeat: no-repeat;

	background-position: 65% 80%;
}

.fundoAzulMobilidade {
	background-color: #9bcde2;
	background-image: url("../../img/uni1/fundoMobilidade.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.fundoCatavento {
	background-image: url("../../img/uni1/catavento.png");
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: 95% 0%;
}

.fundoHorta {
	background-image: url("../../img/uni1/horta2.jpeg");
	background-size: cover;
	height: 500px;
}

.fundoAlimentos {
	background-image: url("../../img/un1/img02.jpeg");
	background-size: cover;
	height: 500px;
}

.fundoCimento {
	background-color: #bdb6b040;
}

.fonteMaior {
	font-size: 24px;
}

.faixaFundoRosaTabela {
	background-color: #ead6e4;
}

.faixaFundoAzulTabela {
	background-color: #a0bbd8ad;
}

.faixaFundoRoxoTabela {
	background-color: #bcafd08f;
}
.bulletMaior {
	font-size: 35px;
	margin-top: -15px;
	padding-top: 0px;
}

.faixaFundoBranca {
	border-bottom-style: solid;
	border-color: transparent;
}

.faixaFundoAzulClaro {
	background-color: #eef8fc;
}

.boldInfografico {
	font-weight: bold;
}

.marginInfografico {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.paddingCol {
	margin-top: 5px;
}

.alignRow {
	display: flex; /* equal height of the children */
}

.alignCol {
	flex: 1; /* additionally, equal width */
}



.cobrinhas {
	list-style: url("../../img/cobrinha.png");
}

ul #cobrinhas {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

li #cobrinhas {
	background-image: url("../../img/cobrinha.png");
	background-repeat: no-repeat;
	background-position: 100% 0.4em;
	padding-right: 0.6em;
}



.fundoMulheres {	
	background-image: linear-gradient(to left, #c2b7d2a3 50%, #d8e5f4 58%);
	
	
}

.mulheres{
	float: right;
}

.espacamentoMulheres{
	margin-left: 5px;
	margin-top: 10px;
}

.espacamentoMulheresBullets{
	margin-left: 35px;
}