#rolagemDeFundo2 {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 394px;
}
#imgRolagemDeFundo2 {
  background-image: url("./../../img/uni2/alimentos.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#textRolagemDeFundo2 {
  background-color: #ffffff;
  color: #000;
  opacity: 1;
  padding: 10px;
  min-height: 180px !important;
  height: auto;
  position: relative;
}

.heightNav{
  height: 75px;

}


.espacamentoIframe{
  margin-top: 25px;
  margin-bottom: 35px;
}

.centerIframe {
  text-align: center;
  width: 1141px;
  margin-top: -30px;
  margin-bottom: -70px;
  margin-left: -20px;
}

.fundo3-01{
  background-color: #accad0a6
}

.fundo3-02{
  background-color: #dcc0d8d4
}

.crenca{
  color: #ff000080;
}

.tab01{
  background-color: #0076b0;
  border-left: solid white;
  border-top: solid white;
}

.tab02{
  background-color: #a2bfdc;
}



.verdade{
  color: #008000ab;
}

.fundo3-03{
  background-color: #dcc0d840
}

.fundoVaral {
  background-color: #c7d8e7;
}

.bordaLateral{
  border-radius: 5px;
  border-right: solid white;
}

.fundoA1{
  background-color: #ddd8e5;
}

.fundoA11{
  background-color: #f1e9d4bf;
}

.fundoB{
  background-color: #e2f6f0;
}

.fundoC{
  background-color: #c7d8e7;
}

.centerIframe {
  text-align: center;
  width: 100%;
  margin-top: -30px;
  margin-bottom: -70px;
}

.fundoUni3_1 {
  background-color: #eae1ecbd;
}

.textoRolagem {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.heightNav {
  min-height: 50px;
}

.bordaColuna {
  border-color: #212529 !important;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: medium !important;
}
.alinharCentro {
  margin-left: 20%;
}

.fontTab {
  font-size: 20px;
}

.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
}

.fundoRolagem {
  background-color: #f7d6b6;
  opacity: 0.95;
  margin-top: 5%;
  margin-bottom: 5%;
}

.fundoFita {
  background-image: url("../../img/uni3/fita3.jpg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.fundoDieta {
  background-image: url("../../img/uni3/dieta.png");
  background-repeat: no-repeat;
  background-size: 100% 65%;
}

.fundoSobrepeso {
  background-image: linear-gradient(to right, #c2b7d28c 75%, transparent 100%);
}

.faixaTabela {
  background-color: #e0e0e0;
}

.fundoTransp {
  background-color: transparent;
}

.fundoPostit {
  background-image: url("../../img/uni3/postit.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fundoBike {
  background-image: url("../../img/uni3/bike.png");
  background-repeat: no-repeat;

  background-position: 0px 460px;
}
.fundoCorredor {
  background-image: url("../../img/uni3/corredor.jpg");
  background-repeat: no-repeat;

  background-position: 0px 135px;
}

.fundoSaladaORetorno {
  background-image: url("../../img/uni3/salada3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  border-style: solid;
  border-width: thick;
  border-color: green;
}

.fundoTransparencia3{
  background-image: url("../../img/uni3/boneco.png");
  background-repeat: no-repeat;
  background-size: 25% 80%;
  background-position: 100% 100%;
}

.deslocarDireitaSalada{
  margin-left: 20%;
}

.fundoCorredor1 {
  background-image: url("../../img/uni3/corredor.jpg");
  background-repeat: no-repeat;

  background-position: 1200px 10px;
}

.textoAmarelo {
  color: #ccb74f;
}
.textoPreto{
  color: black
}
.bulletAmarelo {
  font-size: 30px;
  color: #ccb74f;
}

.corTabela1 {
  background-color: #e0e0e0;
}

.corTabela2 {
  background-color: #f2f5b0;
}

.centerDiv {
  margin-top: 50%;
  margin-bottom: 50%;
}

.bordaTabela2 {
  border: 1px solid black;
}

.containerTabela {
  position: relative;
  text-align: center;
}
.containerTabela > p {
  position: absolute;
  top: 50%;
  left: 1%;
  right: 0;
  margin-top: -15px;
}

.corTabela3 {
  background-color: white;
}

.corTabela4 {
  background-color: white;
}

.corTabela5 {
  background-color: white;
}

.cursorPointer {
  cursor: pointer;
}

.colReduzida {
  width: 12.66% !important;
}
