#rolagemDeFundo2{
  padding-top:200px;
  padding-bottom: 200px;
  height:394px;
}
#imgRolagemDeFundo2{
  background-image: url("./../../img/uni2/alimentos.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.deslocarEsqGestograma{

  text-align: center;
}

.txtGestograma{
  font-size: 27px;
}

.espacamentoGestograma{
  margin-top: 150px;

}

.deslocarEsqGestogramaTxt{

  margin-left: 25px;

}






.fundoIcones2{
  border-style: solid;
  border-radius: 20px;
  border-color: #c7c3c3;
}

.numeroGrande{
  font-size: 122px;
  margin-top: 33px;
  width: 100%;
  color: #14ba86;
}

.faixaDosNumerosGrandes{
  background-color: #e0e0e0;
}

.centerIframe {
  text-align: center;
  width: 1141px;
  margin-top: -30px;
  margin-bottom: -70px;
  margin-left: -20px;
}

.fundoGestograma{
  background-color: #dbdae7;
  /*background-image: url("./../../img/un2/gestograma.png");
  background-repeat: no-repeat;
  background-position: 850px 0px;
  background-size: 550px 550px;
  height: 532px;*/

}


.imgIcone{
  width: 25%;
}
#textRolagemDeFundo2{
  background-color: #FFFFFF;
  color:#000;
  opacity:1;
  padding:10px;
  min-height: 180px!important;
  height:auto;
  position: relative;
  
}

.gestograma{
  border-style: solid;
  border-color: #e0e0e0;

}

.bordaPeso{
  border-right-style: solid;
  border-color: white;
}

.fundo2-02b{
  background-color: #d7e5e887;
}

.fundoPratica{
  background-color: #8fd2d3
}

.img09{
  margin-top: 20px;
}

.bordaLateralDireita{
  border-radius: 20px;
  border-right-color: white;
  border-right-width: 20px;
}

.fundo2-01{
  background-color: #7091a066;
  background-image: url("./../../img/un2/naturaa.png"), url("./../../img/un2/naturab.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;

  
}

.fundo02b{
  background-image: url("./../../img/un2/fundo2b.png");
  background-position: 0% 85%;
  background-repeat: no-repeat;

}
.fundo02c{
  background-image: url("./../../img/un2/fundoB.png");
  background-position: 0% 65%;
  background-repeat: no-repeat;
  background-size: 25% 30%
}

.fundoCafe{
  background-image: url("./../../img/un2/img10.jpeg");
  background-position: 100% 15%;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 1;
}

.img08{
  height: 350px;
}

.tabela{
  margin-left: 50%;
  margin-right: 50%;
}

.fundoCafe2{
  background-image: url("./../../img/un2/cafe.gif");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 100% 10%;

}

.fundoAnimado{
  /*background-image: url("../../img/un2/fundoAlto.png");
  background-repeat: no-repeat;*/
  background-size: 25% 100%;
  background-position: 100% 15%;
}



.cel1{
  background-color: #8ab7e1;
  border-radius: 5px;
  border-color: black;
  margin-right: 0px;
  padding-top: 15px;
}

.cel2{
  background-color: #c1d7ef;
  border-radius: 5px;
  border-color: white;
  margin-right: 0px;
  padding-top: 15px;
}

.fundo01b{
  /*background-image: linear-gradient(to left, #c2b7d2 50%, #c9e0eb 65%);*/

}

.fundo01bFinal{
  background-image: linear-gradient(to left, #c2b7d2 50%, #c9e0eb 65%);
  margin-bottom: 10px;
}

.borda0{
  border-radius: 0px;
  border-color: white;
}

.titulo1{
  color: #257cb4;
  font-weight: bold;
}

.tituloHeader{
  font-weight: bold;
  text-align: center;

}

.iconPesoAltura{  

  width: 25px;
}


.alignVCenter{
  margin-top: 10px;
}

.tab {
  padding-left: 25% !important;
  margin-top: 2px;
  
}

.fundo01{
  background-color: #bce1e391;
}

.espacamentoIdosos{
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.centerDiv2{
  margin-left: 10%;
}

.container1 {
  display: flex;
  justify-content: center;
}




.fundoCinza{
  background-color: #e0e0e0;
}
.textoRolagem{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.fundoRolagem{
  background-color: #f7d6b6;
  opacity: 0.95;
  margin-top: 5%;
  margin-bottom: 5%;
  
}

.fundoEstoque{
  background-image: url("../../img/uni2/prateleira.png");
  background-repeat: no-repeat;
  background-size: 120% 120%;
  opacity: 1;
}

.fundoSus{
  background-image: url("../../img/uni2/saude.png");
  background-repeat: no-repeat;
  
  background-position: 4% 1%;
  opacity: 1; 
}

.fundoAlimentos{
  background-image: url("../../img/uni2/alimentos.jpeg");
  background-repeat: no-repeat;

  background-position: 50% 50%;

  
}
.deslocarDireitaNovo{
  padding-left: 25%;
}

.textIcones{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

}

.fundoRespiro1{
  background-image: url("../../img/un2/Mooc3v2-67.png");
  background-repeat: no-repeat;  
  background-position: 0% 65%;
}

.fundoTransparencia2{
  background-image: url("../../img/uni2/fundoUnidade2.png");
  background-repeat: no-repeat;
  background-size: 40% 80%;
  background-position: 100% 65%;
}

.deslocarEsqNum{
  margin-left: 35px;
}


.fundoUni2F{
  background-image: url("../../img/un2/fundoUni2.jpeg");
  background-repeat: no-repeat;  
  background-position: 100% 110%;

}
.fundoIndicadores{
  background-image: url("../../img/uni2/indicadores.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: 0% 100%;

}

.territorio{
  background-image: url("../../img/uni2/territorio.png");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 100% 80%;
}

.paddingTop5{
  padding-top: 5px;
}

.fundoAmareloAlterado{
  background-color: #e1c42f54;
}

.bodyBulletUn2{
  margin-left:-20px;
}

.cifrao{
  color: #B6C9E9;
  margin-right: 5px;
  margin-left: 5px;
}

.faixa01{
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #B6C9E9;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #B6C9E9;
}

.fundoBullets{
  background-image: linear-gradient(to left, #c2b7d2 50%, #c9e0eb 65%);

}


.fundoIdosos{
  background-image: url("../../img/uni2/idosos.png");
  background-repeat: no-repeat;


}


.fundoTextoIdosos{
  background-color: #3f8ed321;
  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -60px;

  
}


.fundoItens{
  background-image: url("../../img/un2/Mooc3v2-05.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.textoI1{
  margin-left: 50px;
  margin-top: 20px;
}

.textoI2{
  margin-left: 50px;
  margin-top: 0px;
}

.textoI3{
  margin-left: 50px;
  margin-top: 10px;
}

.textoI4{
  margin-left: 170px;
  margin-top: 20px;
}

.alinharBulletP {
  margin-top: 0px;
  margin-left: -30px !important;
}



.seta {
  list-style: url("../../img/arrow.png");
}

ul #seta {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

li #seta {
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 100% 0.4em;
  margin-top: 20px !important;
  padding-right: 0.6em;
}
