.espacamento {
	padding-top: 15px;
}

.espacamento2x {
	padding-top: 30px;
}

.espacamentoTop35 {
	padding-top: 35px;
}
.espacamento2x {
	padding-top: 20px;
}

.semBorda{
	border-color: white !important;
}

.espacamentoAccordion{
	margin-top: 5px;
}
.centerTextAcc{
	text-align: center;
}

.espacamentoTop20 {
	padding-top: 20px;
}

.espacamentoTxtCliq{
	margin-top: 25px;
	margin-bottom: 25px;
}

.esp1{
	margin-top: -10px;
}

.marginTopFaixa{
	margin-top: 15px;
}

.espacamentoTop25 {
	padding-top: 25px;
}

.espacamentoTop30 {
	padding-top: 35px;
}

.espacamentoTop40 {
	padding-top: 40px;
}

.paddingFigEsp {
	padding-top: 3px;
}

.fundoIndex {
	z-index: 1;
}

.imgCirculo{
	margin-top: 38px;

}

.tamanhoCirculos{
	height: 98%;
}


.espacamentoBottomNegativo{
	margin-bottom: 0px;
}

.espacamentoTop50 {
	padding-top: 50px;
}

.espacamentoTop5 {
	padding-top: 5px;
}
.upperCase {
	text-transform: uppercase;
}

.fundoIcones {
	background-color: #beb5d485;
}

.fundoLilaz {
	background-color: #f9f8f9;
}

.tamanhoFaixa {
	min-height: 250px;
	height: 250px;
}

.espacamentoBottom {
	padding-bottom: 15px;
}

.espacamentoBottom20 {
	padding-bottom: 20px;
}

.espacamentoTop20I {
	padding-top: 20px;
}

.marginBottom0 {
	margin-bottom: -1%;
}

.espacamentoBottom25 {
	padding-bottom: 25px;
}
/*css responsável por controlar a imagem do icone das caixas de reflexao, nota, link, destaque e etc...*/
.imgCaixa {
	width: 95%;
	height: auto;
	padding-top: 25%;
}
/*TODO: verificar responsidade*/
.imgCaixa1 {
	width: 100%;
	/*max-width: 80px;*/
	height: auto;
	padding-top: 0%;
	margin-left: -25%;
}

.fundoBege {
	background-color: #f8f2cf;
}

.alinharDireita {
	margin-left: 125px;
}

.alinharDireita2 {
	margin-left: 145px;
}

.alinharDireita3 {
	margin-left: 20%;
}

.alinharTop {
	margin-top: 70px;
}

.marginTop {
	margin-top: 8px;
}

.imgCaixaPP {
	width: 60%;
	max-width: 60%;
	height: auto;
}

.marginLeft50 {
	margin-left: 15%;
	margin-right: 15%;
}

.marginLeftIcone {
	margin-left: 35%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.textoCaixaPP {
	padding-top: 2%;
	padding-left: 0%;
	margin-left: 0%;
	padding-right: 1.5%;
}

.textoCaixa {
	padding-top: 2%;
	padding-left: -10%;
	margin-left: -2%;
	padding-right: 1.5%;
}

.espacamentoLateral {
	margin-right: 2%;
	margin-left: 2%;
}

.iconeTexto {
	width: 6%;
}

.iconeTexto_2 {
	width: 8%;
}

.iconeTexto12 {
	width: 3%;
}

.iconeTexto12_2 {
	width: 4%;
}

.iconeTexto6 {
	width: 8%;
}

.textoCaixa2 {
	margin-top: 2%;
	padding-top: 2%;
	padding-left: 0%;
	margin-left: 0%;
	margin-right: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	margin-bottom: 2%;
}
.borda {
	border-radius: 25px;
}

.bordaLeve {
	border-radius: 5px;
}

.borda10 {
	border-radius: 10px;
}

.borda10Tab {
	border-radius: 10px;
	border-style: solid;
}

.w110 {
	width: 110%;
}

.bordaCaixa {
	border-radius: 10px;
	border-color: black;
	border-style: solid;
}

.bordaTabela {
	border: 1px solid white;
}

.bordaTabela1 {
	border: 1px solid black;
}

.bordaColuna {
	border-top-style: solid black;
	border-right-style: solid black;

	border-left-style: solid black;
}

.bordaTop {
	border-top-color: #80008054;
	border-width: 1px;
	border-top-style: solid;
}

.bordaLeft {
	border-left-color: #80008054;
	border-width: 1px;
	border-left-style: solid;
}

.bordaRight {
	border-right-color: white;
	border-width: 10px;
	border-right-style: solid;
}

.bordaBottom {
	border-bottom-color: white;
	border-width: 10px;
	border-bottom-style: solid;
}

.bordaBottomInfograficoBottom {
	border-bottom-color: #80008054;
	border-width: 5px;
	border-bottom-style: solid;
}

.bordaBottomInfograficoTop {
	border-top-color: #80008054;
	border-width: 5px;
	border-top-style: solid;
}
.purple {
	background-color: #400340ad;
}

.lightPurple {
	background-color: #80008054;
}
/*
.caixaSaibaMais{
	background-image: url('../../img/saibaMaisBackground.png');
	background-size: cover;


	}*/

.caixaSaibaMais {
	background-color: #563d7c33;
	/*#563d7c6b*/
	/*#563d7c33*/
}

.caixaSaibaMaisAumentada {
	background-color: #563d7c33;
	height: 275px;
}

.espacamentoMais {
	margin-top: 20px;
}

.caixaNota {
	background-color: #563d7c33;
	background-size: cover;
}

.caixaDestaque {
	background-color: #563d7c33;
	background-size: cover;
}

.caixaReflexao {
	background-color: #563d7c33;
	background-size: cover;
}
/*
	.caixaLink {
		background-image: url("../../img/saibaMaisBackground.png");
		background-size: cover;
		}*/
.caixaLink {
	background-color: #563d7c33;
}

.caixaVideo {
	background-color: #563d7c33;
}

.responsive {
	width: 100%;
	height: auto;
}

.w70 {
	width: 70%;
}
.center {
	position: center;
}

.centerImg {
	display: block;
	margin: 0 auto;
}

.centerImgF{
	margin-right: 5px;
}

.textoTabela {
	margin-top: 3.5%;
}

.textCenter {
	text-align: center;
	margin-top: 5%;
}

.left {
	text-align: left;
}

/*Rolagem de fundo*/
#rolagemDeFundo {
	padding-top: 200px;
	padding-bottom: 200px;
	height: 394px;
}
#imgRolagemDeFundo {
	background-image: url("../../img/plantacao.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 30% 50%;
	min-height: 400px;
}
#textRolagemDeFundo {
	background-color: #ffffff;
	color: #000;
	opacity: 1;
	padding: 20px;
	min-height: 160px !important;
	height: auto;
	position: relative;
	top: 115px;
}
/*Rolagem de fundo*/

.deslocamentoTop {
	margin-top: 10px;
}

.deslocamentoSuperior {
	margin-top: -30px;
}

.circle {
	height: 150px;
	width: 200px;
	background-color: red; /* For browsers that do not support gradients */
	background-image: radial-gradient(
		red 60%,
		white 5%
	); /* Standard syntax (must be last) */
}

.absolutPosition {
	position: absolute;
	width: 85%;
	margin-top: -1.5%;
	align-items: center;
	margin-left: 5%;
	padding-top: 0%;
}

.clickHide {
	background-color: #ddd8e5;
	border-radius: ;
}

.clickExemplo{
	background-color: #e0e0e0;
}

#caixa {
	position: relative;
}
#caixa img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 60%;
}

#caixaTexto {
	position: relative;
}

.diminuirPaddingEsquerda {
	margin-left: 15%;
}

#caixaTexto p {
	position: absolute;
	margin-left: 0px;
}

.marginRight {
	margin-right: 0px;
}
.marginLeftNegative15 {
	margin-left: -15px !important;
}

.margin-1 {
	margin-bottom: -1%;
}

.marginLeftNegative5 {
	margin-left: -10px;
}

.marginLeftNegative25 {
	margin-left: -25px !important;
}

.marginRight {
	margin-right: 30px;
}
.width {
	max-width: 13% !important;
	width: 13% !important;
	min-width: 13% !important;
	height: 100px;
}

.width5 {
	max-width: 45% !important;
	width: 45% !important;
	min-width: 45% !important;
	height: 100px;
}
.marginLeft5 {
	margin-left: 0.75%;
}
.blackLink {
	color: black;
}

.cursorIcone {
	cursor: pointer;
	color: black;
	text-decoration: none !important;
}

.cursorIcone:hover{
	text-decoration: underline;
	text-decoration-color: blue;
}

.cursorIcone_2 {
	cursor: pointer;	
	text-decoration: underline;
	
}

.cursorIcone_2:hover{
	text-decoration: underline;
	text-decoration-color: blue;
}

.cursorIcone_3{
	text-decoration: none;
	cursor: pointer;
}

.cursorClicavel {
	cursor: pointer;
	color: blue;

	width: 100%;
}

.cursorFechar{
	cursor: pointer;
}

.fundoVideoPop{
	background-color: #e0e0e0 !important;
}

.bodyBullet {
	list-style: url("../../img/bullet-19.png");
}

ul #bodyBullet2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

li #bodybullet2 {
	background-image: url("../../img/uni3/bullet.jpg");
	background-repeat: no-repeat;
	background-position: 100% 0.4em;
	padding-right: 0.6em;
}

.alinharBullet {
	margin-top: -10px;
	margin-left: -30px !important;
}

.alinharBullet2 {
	margin-top: 10px;
	margin-left: -30px !important;
}

.alinharBullet2N {
	margin-top: 2px;
	margin-left: -30px !important;
}

.juntarTopo{
	margin-top: -5px;
}

.fundoEscuro {
	background-color: #e7a8859c;
}

.fundoAzul {
	background-color: #95bfeaa8;
	border-radius: 10px;
}

.fundoClaro {
	background-color: #c5e0eab5;
}

.alinharTexto {
	padding-top: 3%;
}

.marginBottomNegative1 {
	margin-bottom: -1%;
}
p,
.bodyBullet {
	font-family: "robotoregular", sans-serif;
	font-size: 23px;
	color: #333333;
	line-height: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

p,
.bodyBullet2 {
	font-family: "robotoregular", sans-serif;
	font-size: 23px;
	color: #333333;
	line-height: 32px;
	margin-top: 0px;
	margin-bottom: 1rem;
	padding-top: 0px;
}
.imgRight {
	padding-top: 20px;
	position: absolute;
	right: 10px;
	bottom: 2px;
}

.imgTop {
	padding-top: 0px;
	margin-right: 0px;
	margin-left: 50%;
	right: 20px;
	bottom: 2px;
	margin-top: -20px;
}

.imgClique {
	position: absolute;
	right: 10px;
	top: -40px;
	width: 20%;
}

.textoClickHide {
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.textoClickHide {
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.centerTop {
	padding-top: 50%;
}

.centerTop2 {
	padding-top: 35%;
}

.centerTop1 {
	padding-top: 25%;
}

.centerTop3 {
	padding-top: 75%;
}

.w40 {
	width: 40%;
}

.w63 {
	width: 63%;
}

.w60 {
	width: 60%;
}

.w80 {
	width: 80%;
}

.textoBullet {
	padding-top: 0px;
}

.textoBullets {
	padding-top: 12px;
}

.fundoSalada {
	background-image: url("../../img/salada.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-x: left;
	/*-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);*/
}

.fundoRespiro {
	background: #ede3e985;
	background-image: url("../../img/respiro01.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.w30 {
	width: 30%;
}

.fundoRespiro2 {
	background-color: #ede3e985;
	z-index: 2;
}

.paddingLeftZero {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: -120px;
}
.textoBullets2 {
	margin-top: 0px;
}

.textoBullets3 {
	margin-top: 12px;
}
.marginBottom {
	margin-bottom: 0px;
}

.paddingLeft15 {
	padding-left: 15px;
}

.marginBullets {
	margin-bottom: 1px;
	margin-top: 1px;
}

.fundoAzulBebe {
	background-color: #a4c2dd;
}

.fundoRoxoBebe {
	background-color: #ead7e6;
}

.fundoAzulMaisBebe {
	background-color: #c5e6f0;
}

.fundoVerde {
	background-color: #6f802d52;
}

.corTextoAmarelo {
	color: #bfa405;
	font-size: 24px;
}

.corTextoAzul {
	color: blue;
	font-size: 24px;
}

.textoLeft {
	text-align: left;
}

.paddingColumn {
	padding-right: 50px;
	padding-left: 50px;
}

.textoBullets {
	font-size: 20px;
}
.alinharTextoDireita {
	text-align: right;
	font-size: 20px;
}

.rightAlign {
	float: right;
	margin-top: 5px !important;
}

.nav-link.active {
	background-color: white !important;
}

.fundoNav {
	background-image: linear-gradient(
		to right,
		#c2b7d28c 75%,
		transparent 100%
	) !important;
	border-color: #b9d5f1e3 !important;

}

.deslocarNav{
	margin-left: 165px;
}

.fundoAzulNav {
	background-color: white !important;
}

.paddingTop5 {
	padding-top: 5px;
}

.paddingFig20 {
	padding-top: 20px;
}

.whiteSpace {
	white-space: nowrap;
}

.modalVideo1 {
	width: 750px !important;
	height: 450px !important;
	max-width: 750px !important;
	background-color: #e0e0e0 !important;
	border-radius: 5px;
	margin-top: 12% !important;
	
}

.divCaixa8{
	float: center;
}

.modalPop {
	
	height: 480px !important;
	background-color: #e0e0e0 !important;
	border-radius: 5px;
	margin-top: 10% !important;
	
}

.anima01{
	min-height: 325px;
}

.img01{
	height: 280px !important;
}

.absolutePosition{
	position: absolute;
	width: 100%;
	height: auto;
	
}


.corTitulo{
	background-image: -webkit-linear-gradient(left, white, yellow, white);
	background-image: -o-linear-gradient(left, white, yellow, white);
	background-image: linear-gradient(to right, #e1c42f 1%, transparent 90%);
}

.corTitulo2{
	background-image: -webkit-linear-gradient(left, white, yellow, white);
	background-image: -o-linear-gradient(left, white, yellow, white);
	background-image: linear-gradient(to right, transparent 1%, transparent 100%);
}

.celEdited {
	max-width: 48% !important;
	margin-right: 10px !important;
}

.tabEdited {
	max-width: 24% !important;
	margin: 0 !important;
	padding-left: 1px !important;
	padding-right: 1px !important; 
}

.tabela2Text {	
	line-height: 32px;
	margin-top: 0;
}

.cel1Tab2 {
	height: 95px;

}

.differentCel {
	margin-top: 0 !important;
}

#imgPlace {
	min-height: 75%; 
	width: 25%;
	left: 75%;
	top: 10%;
	position: absolute;
}

.fundoSliderEdited {
	background-image: url("../../img/frutas.jpeg");
	background-size: 200px 70%;
	background-repeat: no-repeat;
	background-position: 90% 0;
}
.imgEdited {
	left: 70%;
}

.container-text {
	width: 66%;
}

.ctnrEdited {
	background: linear-gradient(to right, #845f4f70, #6f4331d9);

}

.imgEdited {
	padding-top: 5px;
}

.triangle1, .triangle2, .triangle3 {
	border-top: 100px solid #c2b7d2;
	border-right: 150px solid transparent;
	margin-left: -15px;
	width: 10%;
	padding-top: 48px;
}

.triangle3 {

}

.triangle2 {
	margin-top: 225px;
}

.textOverlap, .textOverlap2 {
	position: absolute;	
	top: 10px;
}

.textOverlap2 {
	top: 235px;
}

.fundo01b {
	padding-bottom: 60px;
}

.growth {
	background-image: url("../../img/growth.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 540px 224px;
	padding-top: 10px;
}

.textGrowth0 {
	padding-top: 25px;
	padding-left: 10px;
}

.textGrowth1 {
	padding: 15px 0 0px 90px;
}

.textGrowth2 {
	padding: 15px 0 16px 94px;
}

.textGrowth3 {
	padding: 0 0 0 90px !important;
}

.tabEdited1 {
	margin-left: 15% !important;
	width: auto !important;
}

.womenSpace {
	background-image: url("../../img/un1/quadro02.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0 0 40px !important;
}

.womenSpace .text1 {
	max-width: 550px;
	margin-bottom: 0;
}

.womenSpace .text2 {
	margin-left: 70px;
	line-height: 36px;
}

.fundoUni3{
  background-image: url("../../img/un3/fundoUn3.png");
  background-repeat: no-repeat;  
  background-position: 100% 100%;
  background-size: 400px;

}

.cel3 {
	background-color: #9cbee3 !important;
}