/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.summon-fu ul {
	margin: 0;
	padding: 0;
}

.summon-fu ul li {
	display: inline-block;
	margin-left: 1rem;
}

.summon-fu .featured-links li a {
    font-size: 1.2em;
}

.summon-fu ul.links li {
	
}

.summon-fu ul.links li:first-child {
	margin-left: 0;
}

.summon-fu ul.left {
	text-align: left;
}

.summon-fu ul.center {
	text-align: center;
}

.summon-fu ul.right {
	text-align: right;
}
