html
{
    height: 100%;
}
body {
    margin:0;
    padding-top: 60px;
    padding-bottom: 40px;
    line-height: 1.5em;
    min-width: 480px !important;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px !important;
    font-family: verdana;
}

p {
    text-align: justify;
}

p > a {
    text-decoration: underline;
}

.row {
    text-align: justify !important;
}

.row > a {
    text-decoration: underline;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, .destaque {
    font-family: 'dosismedium', sans-serif;
}
h2 {
    color: #1587C9;
    line-height: 36px;
    margin-top: 0;
}
.row > h2,
.row > h3 {
    margin-left: 14px !important;
}
ul {
    padding-left:20px;
}
ul li {list-style: square;}
.lista {
    font-family: 'dosismedium', sans-serif;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding: 20px 0 20px 5%;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}
.alert ul {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius:5px;
    padding: 10px 10px 10px 10%;
    margin: 10px 0px 0px;
    font-size: 1.2em;
    line-height: 1.5em;
}
li {
    list-style: disc;
}
#tabs ul {
    border:none;
}

#tabs li {
    list-style: none;
}

.capa h2 {color: #fff;}

.logo {
    float: left;
    width: 60%;
}
.logo img {
    margin: 25px 0 40px;
}
.paginacao {float: left;}
.paginacao .display {
    font-family: 'dosismedium', sans-serif;
    position: fixed;
    font-weight: 400;
    bottom: -5px;
    left: 50%;
    padding: 10px 15px;
    margin-left:-52px;
    width: 100px;
    height: 50px;
    text-align: center;
    background: #ccc;
    z-index: 200;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 1px solid #fff;
}

.apresentacao {
    background: #ccc1ae;
}
.politicas {
    background: #DF841A;
}
.acolhimento {
    background: #1587c9;
}
.processo {
    background: #A5405F;
}
.mulher {
    background: #2E8890;
}
.homem {
    background: #4C735A;
}
.modulo {
    border: none !important;
    padding: 20px;
}
.conteudo {
    width: 80%;
    margin: 80px auto 0;
}

.colcem {
    clear:both;
    margin-top: 40px;
}

#cabecalho {
 	box-shadow: 0px 0px 4px #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0 5px;
    z-index: 100;
    position: fixed;
    top:0;
    left: 0;
    min-height: 80px;
}

#cabecalho h1 {
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 0 5%;
    text-align: left;
    width: 80%;
    color: #000 !important;
}

#cabecalho .fa.fa-navicon {
    cursor: pointer;
    font-size: 40px;
    margin-right: 25px;
    margin-top: 11px;
   }

#cabecalho h1 small {
    display: block;
    font-size: 100%;
    margin-left: 2.3%;
    font-weight: 600;
}
#cabecalho h1 small span {
    display: none;
}

.tools-mobile {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #999;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: -3px;
    z-index: 3;
    top: 59px;
    width: 220px;
 }

.tools-mobile li {
    border-bottom:1px solid #ccc;
    background-image: none;
    padding-left: 0;
    list-style: none;
}
.tools-mobile li a {
    display: block;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
    padding-left: 50px;
    color: #333	;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    z-index: 1;
}
.tools-mobile li .guia {background:#eee url(../images/ico-guia.png) no-repeat 10px 50%;}
.tools-mobile li .cronograma {background:#eee url(../images/ico-cronograma.png) no-repeat 10px 50%;}
.tools-mobile li .duvidas {background:#eee url(../images/ico-duvidas.png) no-repeat 10px 50%;}
.tools-mobile li .tutor {background:#eee url(../images/ico-tutor.png) no-repeat 10px 50%;}
.tools-mobile li .recursos {background:#eee url(../images/ico-recursos.png) no-repeat 10px 50%;}
.tools-mobile li a:hover {
    background-color:#fff;
}
.controles a {
    position: fixed;
    top:90px;
    padding: 5px;
    width: 5%;
    min-width: 40px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}
.controles span {
    display: none;
}
.bloco-anterior {
    left: -2px;
    background:url(../img/voltar.png) no-repeat 50% 50%;
}
.bloco-proximo {
    right: -2px;
    background:url(../img/avancar.png) no-repeat 50% 50%;
}
.controles a:hover {
    outline:1px dotted #ddd;
    background-color: #ccc;
}
dl dt {
    background: #abdce9;
    min-height: 40px;
    line-height: 40px;
    font-size: 0.8em;
    font-weight: bold;
}
dl dt span {
    background: #54bdd5;
    text-align: center;
    padding: 0 10px;
    margin-right: 10px;
    border-right: 4px solid #fff;
    display: inline-block;
}
dl dd {
    background: #dff1f4;
    margin:0;
    padding: 10px;
}
.wiki {

}
.wiki div {
    float: left;
    width: 25%;
    margin-left: -5%;
    background: #fcf0e8;
    border-right: 3px solid #d63930;
    padding: 10px;
    font-size: 10px;
    line-height: 16px;
}
.wiki div h4 {
    color: #d63930;
    display: block;
    margin: 5px 0 5px;
}
.wiki strong,
strong.wiki {
    color: #d63930;
}
.wiki p {
    float: right;
    width: 69%;
    margin:0;
}

.icone {
/*	border-width: 3.5px;
    border-style: solid;*/
    position: relative;
    padding: 10px;
    z-index: 81;
    font-family: 'dosismedium', sans-serif;

}

.icone a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.icone .ico {
    position: absolute;
    display: block;
    z-index: 80;
}

.destaque {
    border:2px solid #8e3953 !important;
    border-radius:10px;
    background: #f2dddb;
    padding:30px;
    color: #8e3953;
    margin-bottom: 20px;
    font-size: 20px !important;
}
.destaque .ico {
}
.reflexao {
    border-color: #86c282;
    border-radius:10px;
    background: #dce7c5;
    padding:20px 20px 20px 40px;
    margin-bottom: 20px;
    min-height: 70px;
}
.reflexao .ico {
    background: url(../img/ico-reflexao.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    left: -22px;
    top:12px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.link {
    border-color: #9587ad;
    border-radius:10px;
    background: #dbd2d8;
    padding:20px 20px 20px 40px;
    min-height: 70px;
}
.link .ico {
    background: url(../img/ico-mundo.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    left: -22px;
    top:12px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.saiba {
    border-color: #fccc8f;
    background: #feebd5;
    border-radius:10px;
    padding:20px 20px 20px 40px;
    min-height: 70px;
}
.saiba .ico {
    background: url(../img/ico-saiba.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    left: -22px;
    top:12px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.legislacao {
    background: #d7bde4;
    border-radius:10px;
    padding:20px 20px 20px 40px;
    min-height: 70px;
}
.legislacao .ico {
    background: url(../img/ico-legislacao.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    left: -22px;
    top:12px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.icone.direita {
    padding: 20px 40px 20px 20px;
}
.icone.direita .ico {
    left: auto;
    right: -22px !important;
}

.capa {
    background-color: #0871ae;
    background-image: -webkit-linear-gradient(top, #55acdf 0%, #0871ae 100%);
    background-image: linear-gradient(to bottom, #55acdf 0%, #0871ae 100%);
    background-repeat: repeat-x;
}

.capa > div {background: url(../images/grafismo-capa.png) no-repeat 0 0;}

.conteudo-capa {
    max-width:80%;
    margin: 50px auto;
}

.conteudo-capa img {
    margin-left: -10px;
}

.conteudo-capa h1 {
    color: #fff;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.conteudo-capa h2 {
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow:2px 2px 2px rgba(0,0,0,0.3);
    border-top:1px solid #fff;
    padding-top: 20px;
    text-align: right;
    text-transform: none;
}
.conteudo-capa ul {
    list-style: none;
    float: left;
    color: #fff;
    padding: 0;
    border:none;
    padding-left: 50px;
}

.conteudo-capa p {
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
    width: 120px;
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 30%;
    font-size: 14px;
    line-height: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-family: 'dosismedium', sans-serif;
}

.capa .controles a {
    background-color: #fff;
    opacity: 0.1;
}
.controles a:hover {
    opacity: 0.3;
}


.artigo {
    margin-top: 20px;
}

.artigo .borda {
    border:3px solid #ccc;
    border-radius:10px;
    box-shadow: 0px 0px 20px #eee;
}

.borda img {
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.borda svg {
    max-width: 100%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.recuo-rb {
    margin-right: 20px;
    margin-bottom: 20px;
}

.recuo-lb {
    margin-left: 20px;
    margin-bottom: 20px;
}

.obs {
    background: #f1f1f1;
    font-style: italic;
    color: #333;
    padding: 20px;
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.3em;
    border-radius:10px;
}

.legenda {
    background: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.3em;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.legenda small {
    font-size:0.8em;
}

.legenda.foto {
    margin-top: -30px;
}
.legenda-img {
font-size: 9px;
font-style: italic;
line-height: 9px;
}

.indice
{
    float: left;
}

.bloco
{
    min-height: 80%;
    width: 100%;
    background: #fff;
}
.bloco.container {padding: 40px 7% 0px;}

.bloco.slide {
    box-shadow:20px 0px 10px #eee;
}

.botao {

    cursor: pointer;
}

.desativado {
    color: grey;
    cursor: default;
    display: none;
}

.indice li.ativo {
    font-weight: bold;
}

.magem-topo {height: 100px; display: none;}



@media screen and (max-width: 480px) {
    .tools-mobile {
        display: none;
    }
    .wiki div {
        float: none;
        margin: 20px auto;
        width: 96%;
        font-size: 14px;
        line-height: 20px;
    }
    .wiki h4 {
        margin: 10px 0 !important;
    }
    .wiki p {
        float: none;
        width: 100%;
    }
    #cabecalho {min-height: 80px;}
    #cabecalho h1 {width: 60%; font-size: 0.8em;}
}
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .tools-mobile {
        display: none;
    }
    dl dt {
        text-align: center;
    }
    dl dt span {
        width: 100% !important ;
        padding: 0;
        border-bottom: 4px solid #fff;
    }
    .wiki div {
        margin: 20px auto 0;
        width: 94%;
        font-size: 14px;
        line-height: 20px;
    }
    .wiki h4 {
        margin: 10px 0 !important;
    }
    .wiki p {
        width: 100%;
    }
    #cabecalho {min-height: 80px;}
    #cabecalho h1 {width: 70%; font-size: 0.8em;}
}
@media (min-width: 768px) and (max-width: 1024px) {
    dl dt {
        font-size: 0.65em; ;
    }
    .wiki div {
        margin: 20px auto;
        width:94%;
        font-size: 14px;
        line-height: 20px;
    }
    .wiki p {
        width: 100%;
    }

    .passa-texto.pt2 .slide {
        font-size: 0.8em;
    }

    .fig1024 {
        width: 99% !important;
    }

    .verificar {
        font-size: 14px;
    	font-weight: normal !important;
    	letter-spacing: -0.01em;
    	line-height: 1.33;
    }
}
@media (min-width: 1024px) and (max-width: 1380px) {
.verificar {

    	font-weight: normal !important;
    	letter-spacing: -0.01em;
    	line-height: 1.33;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
.verificar {
        font-size: 9px;
    	font-weight: normal !important;
    	letter-spacing: -0.01em;
    	line-height: 1.33;
    }
}

@media (max-width: 640px) {
.verificar {
        font-size: 13px;
    	font-weight: normal !important;
    	letter-spacing: -0.01em;
    	line-height: 1.33;
    }
}

@media (min-width: 769px)  {

    .tools-mobile {
        display: none;
    }
    .col1 {
        width: 47%;
        float: left;
    }
    .col2 {
        width: 47%;
        float: right;
    }
}
@media (min-width: 1380px)  {
    body {	font-size: 20px !important; }
}

/* ACCORDION - SANFONA  */

#accordion.v-linha-tempo {
    background-size: 2px 5px;
}

#accordion.v-linha-tempo h3 {
    border:none;
}


#accordion.v-linha-tempo h3 span {display:none;}

/* ACCORDION - SANFONA  */

.w100 {
    width: 100%;
}
.w80 {
    width: 80%;
}
.w90 {
    width: 90%;
}
.w70 {
    width: 70%;
}
.w65 {
    width: 65%;
}
.w60 {
    width: 60%;
}
.w50 {
    width: 50%;
}
.w48 {
    width: 48%;
}
.w40 {
    width: 40%;
}
.w30 {
    width: 30%;
}
.h500 {
    height: 500px;
}
.h300 {
    height: 300px;
}
.h250 {
    height: 250px;
}
.h200 {
    height: 200px;;
}
.h100 {
    height: 100px;
}
.h75 {
    height: 75px;
}
.h50 {
    height: 50px;
}
.h25 {
    height: 25px;
}
.h20 {
    height: 20px;
}
.h10 {
    height: 10px;
}
.cinza {
    background: #eee;
    padding: 20px;
}

.fright {float: right;}

.left {text-align: left;}

.fleft {float: left;}

.right {text-align: right;}

.center {
    text-align: center;
}

.grafismo {
 	background: url(../images/grafismo-azul.png) no-repeat;
}
.grafismo-inv {
    background: url(../images/grafismo-azul-inv.png) no-repeat;
}

.intro {
    background-position: 0 -25px;
}
.fim {
    background-position: 100% 100%;
}

.sl3 .mapa {
    background: #fff;
    width: 80%;
    padding-top: 10%;
    cursor: pointer;
}

.um {background:#DE3B2A;}
.dois {background:#F88F33;}
.tres {background:#F7BA5D;}
.quatro {background:#F8F33F;}
.cinco {background:#B6D949;}
.seis {background:#5CB149;}
.sete {background:#40B1B9;}
.oito {background:#392390;}
.nove {background:#AC3998;}
.zero {background:#eee;}

#tabs li {
    border:none !important;
}
.ui-tabs-panel {
    font-size: 20px;
    line-height: 26px;
}

b.text-danger {
    cursor: pointer;
}

.btn-nota {color: #a94442; font-weight: bold;		}

.nota {
    background: #fcefe7 !important;
    border-right:4px solid #a94442 !important;
    padding: 20px;
    box-shadow: 0px 0px 20px #000;
}
.nota #close {
    float: right;
    color: #a94442;
}

.alert .ico,
.col1 .alert .ico {
    float: left;
    margin: 0 0 0 -55px;
}
.col2 .alert .ico {
    float: right !important;
    margin: 0 -55px 0 0 !important;
}
.btn-warning {
    text-transform: uppercase;
}
.btn-warning i {
    display: block;
    margin: -20px auto 10px;
    font-size: 42px;
    background:#66512c;
    width: 60px;
    padding: 10px;
    height: 60px;
    border-radius:50%;
}

.fa.fa-bookmark {
    float: left;
    display: block;
    margin: 0px 20px 0px 0px;
    font-size: 42px;
    text-shadow:1px 1px 0px #fff;
}
.fa.fa-times {
    float: right;
    display: block;
    margin: -15px -15px 10px 10px;
}
.fa.fa-hand-o-up {
    text-align: right;
}

/* xxxxxxxxxxxxxxx

    botoes e caixas de dialogo

xxxxxxxxxxxxxxx */

.btn-default {
    background-color: #f1f1f1;
    margin: 0 0 5px;
    padding-left: 10px !important;

}

.bg-default {
    padding: 0px 10px;
    font-size: 0.9em;
}

.btn-danger {
    margin: 15px 0;
}
.btn-success {
    margin: 15px 0;
}
.alert {
    font-family: 'dosismedium', sans-serif;
}
.alert-padrao {
    background: #f1f1f1;
    font-family: 'dosismedium', sans-serif;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.dialog {
    z-index: 10000000000;
}
.cargahoraria {
    color: #fff;
    padding: 12px 0px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

button:visited {
    background: red;
}

/* xxxxxxxxxxxxxxx

    Passa Texto

xxxxxxxxxxxxxxx */

.passa-texto {
    position: relative;
    border:3px solid #ccc;
    border-radius:10px;
    box-shadow: 0px 0px 20px #eee;
    text-align: justify;
}
.passa-texto .holder {width: 100%; overflow: hidden; min-height: 99%; transition: height 0.3s; position: relative; border-radius: 8px; }
.passa-texto .slide {position: absolute; left: 0; top:0; border-radius:8px; padding: 30px 20px; width: 100%; z-index: 1; transition: all 0.3s; display: none; opacity: 1}
.passa-texto .slide.atual {z-index: 99;}
.passa-texto .slide.fora,.passa-texto .slide.off {left:-100%; top:0;}
.passa-texto .counters {
    border-bottom: 1px solid #ccc;
    position: absolute;
    height: 11px;
    margin: 20px auto 30px;
    text-align: right;

}

.passa-texto .counters li{float: left; display: inline-block; width: 20px; height: 20px; background: #666; border-radius: 50%; cursor: pointer;}
.passa-texto.pt1 .counters {
    top:-70px;
    right: 0px;
}

/* xxxxxxxxxxxxxxx

    Passa Texto pt2

xxxxxxxxxxxxxxx */

.passa-texto.pt2 {border:3px solid #ccc: border-radius:10px; box-shadow: 0px 0px 20px #eee;}
.passa-texto.pt2 .counters {left: 0 !important; top:-59px !important; height: 8px; width: 300px;}
.passa-texto.pt2 .counters li {width: 14px; height: 14px; margin: 0 12px;}
.passa-texto.pt2 .holder {bottom: 0px; position: absolute;}
.passa-texto.pt2 .slide { color: #fff; border-top-left-radius:0px; border-top-right-radius: 0px; position: absolute; top:auto; bottom:0; padding: 20px; width: 100%; z-index: 1; transition: left 0.3s; display: none;}

/* xxxxxxxxxxxxxxx

    Passa Texto pt3

xxxxxxxxxxxxxxx */

.passa-texto.pt3 {border:3px solid #ccc;	border-radius:10px;	box-shadow: 0px 0px 20px #eee;}
.passa-texto.pt3 .counters {left: 0 !important; top:-59px !important; height: 8px; }
.passa-texto.pt3 .counters li {width: 14px; height: 14px; margin: 0 12px;}
.passa-texto.pt3 .slide {color: #333 !important; position: absolute; top:auto; bottom:0; padding: 20px; width: 100%; background: rgba(0,0,0,0.7); z-index: 1; transition: left 0.3s; display: none;}

/* xxxxxxxxxxxxxxx

    Passa Texto pt4

xxxxxxxxxxxxxxx */

.passa-texto.pt4 {border:3px solid #ccc;	border-radius:10px;	box-shadow: 0px 0px 20px #eee;}
.passa-texto.pt4 .counters {left: 0 !important; top:-59px !important; height: 8px; width: 300px;}
.passa-texto.pt4 .counters li {width: 14px; height: 14px; margin: 0 12px;}
.passa-texto.pt4 .slide {color: #333 !important; position: absolute; top:auto; bottom:0; padding: 20px; width: 100%; background: rgba(0,0,0,0.7); z-index: 1; transition: left 0.3s; display: none;}

/* xxxxxxxxxxxxxxx

    Passa Texto pt5

xxxxxxxxxxxxxxx */

.passa-texto.pt5 {border:3px solid #ccc;	border-radius:10px;	box-shadow: 0px 0px 20px #eee;}
.passa-texto.pt5 .counters {left: 0 !important; top:-59px !important; height: 8px; width: 300px;}
.passa-texto.pt5 .counters li {width: 14px; height: 14px; margin: 0 12px;}
.passa-texto.pt5 .slide {color: #333 !important; position: absolute; top:auto; bottom:0; padding: 20px; width: 100%; background: rgba(0,0,0,0.7); z-index: 1; transition: left 0.3s; display: none;}

/*XXXXXXXXXXXXXXXXXXXxxx

Alinhamento das setas */

.alinhaseta {
    text-align: right;
    padding-bottom: 10px;
}

.bgboxslide {
    background: #fff url(../img/marca-cabecalho-amarelo.png) no-repeat;
}

/* xxxxxxxxxxxxxxx

    revelar boxes

xxxxxxxxxxxxxxx */

#dados ul {padding: 0;}
#dados li {list-style: none; float: left; text-align: center; width: 33%;}
#dados li h3 {margin: 0;}
#dados .box {margin: 0;	font-family: 'dosismedium', sans-serif; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
#dados  p {padding: 20px; margin: 0;}

.comp-abas ul {padding: 0;}
.comp-abas li {list-style: none; float: left; text-align: center; width: 33%;}
.comp-abas li h3 {margin: 0;}
.comp-abas .box {margin: 0;	font-family: 'dosismedium', sans-serif; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.comp-abas  p {padding: 20px; margin: 0;}

#portaria ul {padding: 0;}
#portaria li {	list-style: none; float: left; text-align: center; width: 20%;}
#portaria h3 {margin: 0;}
#portaria li a {display: block; width: 100%;}
#portaria .box {margin: 5px 0 0; border-radius:10px; background: #eee; padding: 20px; font-size: 16px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
#portaria  p {padding: 20px; margin: 0;}

.dialog {border-radius:10px;}

.btn.verificar {padding: 0px !important; text-align: left !important;}
.btn.verificar i {
    font-size: 24px !important;
    margin: 0 10px 0 5px;
    padding: 10px !important;
    border-right:1px solid rgba(0,0,0,0.2);
}

.cor-a1 {background: #fcf6cd;}
.cor-a2 {background:#c9d9e3;}
.cor-a3 {background:#dfc6c2;}

.numeros tr td {font-family: 'dosismedium', sans-serif;}

.bg-resumo {
    background: #eee;
    color: #000;
    font-family: 'dosismedium', sans-serif;
    text-shadow:none !important;
}
.bg-resumo .col1 {
    width: 46%;
}
.bg-resumo .col2 {
    width: 46%;
    float: right;
}
.botao-resumo {
    border-radius:10px;
    background: #666;
    padding:20px 20px 20px 40px;
    position: relative;
    font-family: 'dosismedium', sans-serif;
    width: 100%;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-shadow:1px solid #000;
}
.botao-resumo .ico {
    background: url(../img/ico-resumo.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: block;
    height: 81px;
    left: 58px;
    position: absolute;
    top: -25px;
    width: 81px;
    z-index: 0;
}
.btn-bola {
    background: #999;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 2px 2px 0px #eee;
    display: inline-block;
    color: #000;
    text-shadow:1px 1px 0px #fff;
}
#accordion-inamps h3 {
    width: 100%;
    margin-bottom:0;
}
#accordion-inamps h3 a {
    color: #000;
    width: 100%;
    display: block;
}
#accordion-inamps ul {
    padding: 0;
}
#accordion-inamps ul li {
    list-style: none;
    width: 25%;
    float: left;
    margin: 0px;
}

.box {
    margin: 0;
    font-family: 'dosismedium', sans-serif;
    border-radius: 10px;
    background: #f1f1f1;
    font-size: 1em;
}

.box-aba {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    font-family: 'dosismedium', sans-serif;
    padding: 5px 15px;
}
#accordion-inamps .box {
    margin: 0px;
    padding: 5px 15px;
}
.aba {
    font-size: 0.8em !important;
    width: 100%;
    color: #000;
    display: block;
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;}
.cor-c1 {
    background: #aaa;
}
.cor-c2 {
    background: #b1b1b1;
}
.cor-c3 {
    background: #c1c1c1;
}
.cor-c4 {
    background: #d1d1d1;
}
.cor-c5 {
    background: #e1e1e1;
}
.cor-c6 {
    background: #f1f1f1;
}
.cor-c7 {
    background: #fff;
}
.cor-p8a {
    background: #668d94;
}
.cor-p8b {
    background: #94b3c7;
}
.cor-p8c {
    background: #dbe9ef;
}


.tools-mobile {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #999;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: -3px;
    z-index: 3;
    top: 59px;
    width: 220px;
 }

.tools-mobile li {
    border-bottom:1px solid #ccc;
    background-image: none;
    padding-left: 0;
    list-style: none;
    text-align: left;
}
.tools-mobile li a {
    display: block;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
    padding-left: 50px;
    color: #333	;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    z-index: 1;
}
.tools-mobile li .guia {background:#eee url(../img/ico-guia.png) no-repeat 10px 50%;}
.tools-mobile li .cronograma {background:#eee url(../img/ico-cronograma.png) no-repeat 10px 50%;}
.tools-mobile li .duvidas {background:#eee url(../img/ico-duvidas.png) no-repeat 10px 50%;}
.tools-mobile li .tutor {background:#eee url(../img/ico-tutor.png) no-repeat 10px 50%;}
.tools-mobile li .recursos {background:#eee url(../img/ico-recursos.png) no-repeat 10px 50%;}
.tools-mobile li a:hover {
    background-color:#fff;
}

.autores {
    margin-top: 100px;
    font-size: 14px;
    line-height: 26px;
    margin-right: 20px;
}
.autores li {
    list-style: none;
    text-align: right;
}


/* xxxxxxxxxxxxxxxxxxxx

    Flipper

xxxxxxxxxxxxxxxxxxxx*/
/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
            perspective: 1000;
}
/* flip the pane when hovered */
.flip-container .flipper.ativo {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
    float: left;
    width: 33.3%;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.flipper img {width: 100%; height: auto}

/* hide back of pane during swap */
.flipper .front, .flipper .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.flipper .front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

/* back, initially hidden pane */
.flipper .back {
    background: #eee;
    color:#333;
    width:100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    outline:1px solid #fff;
    overflow: hidden;
}
.flipper .back span {
    display: block;
    line-height: 1.2em;
    padding: 15px 10px 0px;
    font-size: 0.8em;
}

/* Responsive Flipper */
.flip-container.col-2 .flipper {width: 50%;}
.flip-container.col-1 .flipper {width: 100%;}

h3 {text-shadow:none !important;}

.padrao-tabs ul {padding: 0; margin: 0;}
.padrao-tabs li {list-style: none; float: left;}
.padrao-tabs li h3 {margin: 0;}

.progress-bar {transition: width 2s;}
.progress-bar-zerada {width: 0px !important;}

.mtop {margin-top: 10px;}
.mtop2 {margin-top: 15px;}

.ampliar {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    display:block;
    width:100%;
    position:relative;
}
.ampliar span {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background:rgba(0,0,0,0.5);
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 0.7em;
    padding: 5px 10px;
}
.mod-box {
    font-family: 'dosismedium', sans-serif;
    padding:0 15px !important;
    background-color: #eee;
}
.mod-box .mod-label {border-radius:7px; color:#fff;}
.mod-title {color:#fff; font-size: 1.5em; line-height: 1.4em; font-weight: bold; padding: 20px 15px; font-family: 'dosismedium', sans-serif;}

.padding {
    padding: 20px;
}

.acordeon h3 {
    font-weight: normal;
    display: block;
    font-size: 1em;
    padding: 7px 12px 7px 30px;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    margin: 6px 0 0;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow:0px 0px 1px #ccc;
    text-shadow:1px 1px 0px #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.acordeon h3.ui-state-active {
    background-image: url(../img/down.png);
}

.acordeon div {
    padding: 5px 15px;
    font-family: 'dosismedium';
    background:#eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lista-destaque {
    background-color: #eee;
    padding: 20px 20px 10px;
    font-family: 'dosismedium';
    border-radius:10px;
}
.lista-destaque li {
    margin-bottom: 10px;
}
.lista-destaque li a {color: #000;}
.lista-destaque li a:hover { text-decoration: underline !important;}

.ui-dialog {z-index: 200;}

.fa-copyright {
    font-size: 24px !important;
    margin-right: 25px;
    vertical-align: super;
    cursor: pointer;
}
.creditos {
    background: #fff;
    font-family: 'dosismedium', sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
}

.creditos h3 {margin: 0 0 20px !important;}
/*
xxxxxxxxxxxxxxxxxxxxxxx
Azul
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corAzul #cabecalho {background:#fff url(../img/marca-cabecalho-azul.png) no-repeat ;}
.corAzul .cargahoraria {background-color: rgba(21,135,201,0.6);}
.corAzul h2 {color: #1587c9;}
.corAzul .passa-texto li.ativo,
.corAzul .mod-box .mod-label {background: #1587c9;}
.corAzul .passa-texto li {margin:0 28px;}
.corAzul .mod-cor-bg,
.corAzul .passa-texto .slide {background-color: rgba(21,135,201,0.2);}

/*
xxxxxxxxxxxxxxxxxxxxxxx
Verde
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corVerde #cabecalho {background:#fff url(../img/marca-cabecalho-verde.png) no-repeat ;}
.corVerde .cargahoraria {background-color: rgba(97,152,99,0.6);}
.corVerde h2 {color: #619863;}
.corVerde .passa-texto li.ativo,
.corVerde .mod-box .mod-label {background: #619863;}
.corVerde .passa-texto li {margin:0 7px;}
.corVerde .passa-texto .slide {background-color: rgba(97,152,99,0.2);}

/*
xxxxxxxxxxxxxxxxxxxxxxx
Verdeagua
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corVerdea #cabecalho {background:#fff url(../img/marca-cabecalho-verdea.png) no-repeat ;}
.corVerdea .cargahoraria {background-color: rgba(46,136,144,0.6);}
.corVerdea h2 {color: #2e8890;}
.corVerdea .passa-texto li.ativo,
.corVerdea .mod-box .mod-label {background: #2e8890;}
.corVerdea .passa-texto li {margin:0 7px;}
.corVerdea .passa-texto .slide {background-color: rgba(46,136,144,0.2);}

/*
xxxxxxxxxxxxxxxxxxxxxxx
Amarelo
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corAmarelo #cabecalho {background:#fff url(../img/marca-cabecalho-amarelo.png) no-repeat ;}
.corAmarelo .cargahoraria {background-color: rgba(192,127,46,0.6);}
.corAmarelo h2 {color: #c07f2e;}
.corAmarelo .passa-texto li.ativo,
.corAmarelo .mod-box .mod-label {background: #c07f2e;}
.corAmarelo .passa-texto li {margin:0 7px;}
.corAmarelo .passa-texto .slide {background-color: rgba(192,127,46,0.2);}

/*
xxxxxxxxxxxxxxxxxxxxxxx
Bordo
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corBordo #cabecalho {background:#fff url(../img/marca-cabecalho-bordo.png) no-repeat ;}
.corBordo .cargahoraria {background-color: rgba(137,66,92,0.6);}
.corBordo h2 {color: #89425C;}
.corBordo .passa-texto li.ativo,
.corBordo .mod-box .mod-label {background: #89425C;}
.corBordo .passa-texto li {margin:0 7px;}
.corBordo .mod-cor-bg,
.corBordo .passa-texto .slide {background-color: rgba(137,66,92,0.2);}
.corBordo .progress-bar-mod-cor {background: #666 !important;}

/*
xxxxxxxxxxxxxxxxxxxxxxx
Verde Escuro
xxxxxxxxxxxxxxxxxxxxxxx
*/

.corVerdeEsc #cabecalho {background:#fff url(../img/marca-cabecalho-verdeesc.png) no-repeat ;}
.corVerdeEsc .cargahoraria {background-color: rgba(76,115,90,0.6);}
.corVerdeEsc h2 {color: #4c735a;}
.corVerdeEsc .passa-texto li.ativo,
.corVerdeEsc .mod-box .mod-label,
.corVerdeEsc .mod-title {background: #4c735a;}
.corVerdeEsc .passa-texto li {margin:0 7px;}
.corVerdeEsc .mod-cor-bg,
.corVerdeEsc .passa-texto .slide {background-color: rgba(76,115,90,0.2);}
.corVerdeEsc .progress-bar-mod-cor {background: #666 !important;}

/* LER APÓS CSS DE COR */

.passa-texto.pt2 .slide { background: rgba(0,0,0,0.5);}


